*,::before,::after{margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
ul{list-style: none; padding: 0;}
button{cursor: pointer; padding: 0;}
label{display: block;}
img{vertical-align: bottom;}

@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-bold.woff2);
    font-weight: 700;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/proximanova-regular.woff2);
    font-weight: 400;
}
@font-face {
    font-family: proxima;
    src: url(../fonts/Proxima-Nova-Thin.woff2);
    font-weight: 100;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 80px;
    font-size: 15px;
    --red:#ca3c3c;
    --ff:proxima, sans-serif;
}

body{
    font-size: 16px;
    font-family: var(--ff);
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

.row{ display: flex; flex-flow: row wrap; margin: 0 -1rem; }
[class^="col"]{ flex: 1 0 auto; padding: 0 1rem; }
.col-1{ flex-basis:8.33%; max-width: 8.33%;}
.col-2{ flex-basis:16.66%; max-width: 16.66%;}
.col-3{ flex-basis:25%; max-width: 25%;}
.col-4{ flex-basis:33.33%; max-width: 33.33%;}
.col-5{ flex-basis:41.66%; max-width: 41.66%;}
.col-6{ flex-basis:50%; max-width: 50%;}
.col-7{ flex-basis:58.33%; max-width: 58.33%;}
.col-8{ flex-basis:66.66%; max-width: 66.66%;}
.col-9{ flex-basis:75%; max-width: 75%;}
.col-10{ flex-basis:83.33%; max-width: 83.33%;}
.col-11{ flex-basis:91.66%; max-width: 91.66%;}
.col-12{ flex-basis:100%; max-width: 100%;}
.flex{display: flex;}
.justify-space-bet{justify-content: space-between;}
.justify-center{justify-content: center;}
.align-center{align-items: center;}
.gy-4{gap: 4rem 0;}

/* custom css */
header{ background: #000; color: #fff; position: sticky; top: 0; z-index: 10;}
h1{ font-size: 30px;  }
header a{ color: inherit; display: block; line-height: 80px;}
.btn{ width: 90px; height: 35px; border: 2px solid; color: var(--red); background: none; border-radius: 10px; font: 16px var(--ff); }
.signup{color: #f00505;}
nav li{ margin: 0 5px;}
nav a{ padding: 0 15px; }

#menu{ display: none;}
.mob{ display: none; line-height: 31px; position: absolute; right: 1rem; top: 20px; }
.mob span{ display: block; height: 2px; width: 70px; background: var(--red); margin: 6px auto; transform-origin: right center; transition: .3s;}
.mob.active span:nth-child(1){ transform: rotate(-13deg);}
.mob.active span:nth-child(2){ opacity: 0;}
.mob.active span:nth-child(3){ transform: rotate(13deg)}

.banner{background: #666; color: #fff;padding: 200px 0;}
.banner button{background: none; border: none; font-size: 10rem; color: #fff; margin-right: 40px;}
.banner p{font-size: 4rem; font-weight: 100;}
.banner a{color: var(--red);}

.wrap-3{background-color: var(--red); padding: 50px 0; color: #fff;}
h2{font-size: 72px; line-height: 60px;border-bottom: 10px solid; margin-bottom: 30px;}
.circle{width: 100px; height: 100px; border: 2px solid; border-radius: 50%; display: grid; place-items: center; font-size: 36px; margin-right: 2rem;}
.wrap-3 h3{ font-size: 16px; line-height: 30px;}
.wrap-3 p{ font: 100 14px/22px var(--ff); }

.wrap-4{font-size: 36px; color: var(--red); line-height: 10rem; text-align: center;}

.wrap-5{background-color: #EBEBEB; color: #363636; padding: 100px 0;}
.wrap-5 .btn{margin: 0 10px 60px 0; color: #b33737;}
.wrap-5 .btn.active{background-color: var(--red); color: #fff; border-color: var(--red);}
.work{margin-bottom: 2rem; position: relative; overflow: hidden;}
.caption{position: absolute; left: 0; right: 0; bottom: -100px; padding: 20px 0; transition: .4s;background-color: #fff; text-align: center;}
.caption h3{font-size: 18px; color: var(--red); line-height: 40px;}
.caption p{ font: 100 14px var(--ff);color: #898989; line-height: 20px;}
.work:hover .caption{bottom: 0;}
.work img{max-width: 100%; height: auto;}
.seemore{ border: none; background: none; font-size: 36px; color: var(--red);}
.wrap-5 .all:is(:nth-child(7),:nth-child(8),:nth-child(9),:nth-child(10),:nth-child(11),:nth-child(12)){display: none;}

.wrap-6{ background: #666; color: #fff; padding: 4rem 0 2rem; }
.reviews{ text-align: center;}
.review blockquote q{ font-size: 36px; line-height: 41px; font-weight: 100;}
.review figcaption{font-weight: bold;}
.review img{ margin: 18px 0;}
.wrap-6 .bx-wrapper{ background: none; border: none; box-shadow: 0 0; }
.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a{ border: 2px solid #fff;}
.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a.active,.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a:focus,.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a:hover{ background: #fff;}
.wrap-6 .bx-wrapper img{margin: auto;}

.wrap-7{ color: #363636; padding: 100px 0;}
.team{position: relative;  margin: 50px 0 30px;}
.gap{ margin: 50px 0 0 100px;}
.gap h3{ font-size: 18px; color: var(--red); margin-bottom: 10px;}
.gap small{ font-size: 14px; font-weight: 100; color: #898989;}
.gap p{ font: 100 14px/22px var(--ff);  color: #363636; margin-top: 2rem;}
.social{ position: absolute; top: 60px; right: 60px; }
.social li{ margin-left: 10px; }
.social a{ display: block; width: 50px; line-height: 50px; background: var(--red); color: #fff; border-radius: 50%; font-size: 24px; text-align: center;}
.wrap-7 .row:nth-child(2) .col-4:is(:nth-child(4),:nth-child(5),:nth-child(6)){display: none;}

.wrap-8{background-color: #666666; padding: 80px 0 40px; color: #fff; text-align: center;}
.wrap-8 span.fa{font-size: 72px;}
.wrap-8 p{font-size: 72px; font-weight: 100;}
.wrap-8 b{font-size: 18px; margin-bottom: 40px; display: block;}

.wrap-9{color: #363636;padding: 100px 0 80px;}
canvas{max-width: 100%; height: auto; background-color: #ddd; margin-top: 50px;}
.accordion{margin-top: 50px;}
.accordion li{margin-bottom: 10px;}
.accordion a{display: block; color: #898989; font-weight: bold; border: 1px solid #ebebeb; padding: 11px; border-radius: 10px;}
.accordion a span.fa{font-size: 24px; margin-right: 25px; vertical-align: middle;}
.accordion a.active{color: var(--red);}
.accordion p{display: none; margin: 20px; font: 100 14px/22px var(--ff);}
.accordion li:first-child p{display: block;}
.accordion a::after{ content: '+'; float: right;}
.accordion a.active::after{ content: '-';}

.wrap-10{background-color: var(--red); padding: 22px 0 23px;}
.wrap-10 .btn{background-color: #fff;}
.wrap-10 input{ background: none; border: none; width: 370px; height: 35px; font: 100 36px var(--ff); color: #fff;}
.wrap-10 input::placeholder{ color: #fff;}

.wrap-11{background-color: #7f7f7f; padding: 28px 0 0 0; color: #fff;}
.box{background-color: #a6a6a6;margin-bottom: 27px; text-align: center; line-height: 95px;}

.wrap-12{background-color: #ebebeb; color: #363636; padding: 100px 0;}
address{color: #898989; line-height: 30px;}
address a{color: inherit;}
.social2{ margin: 20px 0;}
.social2 li{margin-right: 10px;}
.social2 li a{display: block; color: var(--red);}
.wrap-12 label{border:2px solid; padding: 16px; margin-bottom: 2rem;}
.wrap-12 input{background: none; border: none;}
.wrap-12 textarea{background: none; border: none; resize: none; vertical-align: top; height: 42px;}
.wrap-12 input:focus,.wrap-12 textarea:focus{outline: none;}
.wrap-12 label:focus-within{border-color: var(--red);}
.wrap-12 button{ width: 100%; background: #fff; border: none; color: var(--red); height: 80px; border-radius: 10px; font: 16px var(--ff); }
.wrap-12 button span.fa{font-size: 36px; vertical-align: middle;}

.wrap-13{background-color: #252525; padding: 20px 0; text-align: center; color: #fff;}

.overlay{background: #0008; position: fixed; inset: 0; z-index: 11;}
.popover{background: #fff; padding: 20px; border-radius: 10px; position: fixed; z-index: 12; left: 50%; top: 100px; transform: translateX(-50%);}
.popover label{display: block; margin: 1rem 0;}
.popover label input{float: right; margin-left: 10px;}
.close{position: absolute; right: 10px; top: 10; background: none; border: none; color: var(--red); font-size: 18px;}

/* responsive */
@media screen and (max-width:1220px){
    html{ font-size: 13px;}
    h2{font-size: 62px;}
    .social{right: 0;}
}
@media screen and (max-width:980px){
    .col-t-1{ flex-basis:8.33%; max-width: 8.33%;}
    .col-t-2{ flex-basis:16.66%; max-width: 16.66%;}
    .col-t-3{ flex-basis:25%; max-width: 25%;}
    .col-t-4{ flex-basis:33.33%; max-width: 33.33%;}
    .col-t-5{ flex-basis:41.66%; max-width: 41.66%;}
    .col-t-6{ flex-basis:50%; max-width: 50%;}
    .col-t-7{ flex-basis:58.33%; max-width: 58.33%;}
    .col-t-8{ flex-basis:66.66%; max-width: 66.66%;}
    .col-t-9{ flex-basis:75%; max-width: 75%;}
    .col-t-10{ flex-basis:83.33%; max-width: 83.33%;}
    .col-t-11{ flex-basis:91.66%; max-width: 91.66%;}
    .col-t-12{ flex-basis:100%; max-width: 100%;}
    .col-t-hide{display: none;}
    .col-t-auto{width: 20%; max-width: 20%;}
    .banner p{font-size: 3rem;}
    .gap{margin-left: 50px;}
    .social{ flex-flow: column wrap; top: 0;}
    .social li{ margin: 0 0 10px 0;}
}
@media screen and (max-width:767px){
    html{ font-size: 12px;}
    .col-m-1{ flex-basis:8.33%; max-width: 8.33%;}
    .col-m-2{ flex-basis:16.66%; max-width: 16.66%;}
    .col-m-3{ flex-basis:25%; max-width: 25%;}
    .col-m-4{ flex-basis:33.33%; max-width: 33.33%;}
    .col-m-5{ flex-basis:41.66%; max-width: 41.66%;}
    .col-m-6{ flex-basis:50%; max-width: 50%;}
    .col-m-7{ flex-basis:58.33%; max-width: 58.33%;}
    .col-m-8{ flex-basis:66.66%; max-width: 66.66%;}
    .col-m-9{ flex-basis:75%; max-width: 75%;}
    .col-m-10{ flex-basis:83.33%; max-width: 83.33%;}
    .col-m-11{ flex-basis:91.66%; max-width: 91.66%;}
    .col-m-12{ flex-basis:100%; max-width: 100%;}

    .collapse{ display: none; position: absolute; left: 0; right: 0; top: 80px; background: #000; padding: 1rem; }
    
    .mob{ display: block;}
    .collapse ul{ flex-flow: column wrap; }
    nav{ width: 100%;}
    .collapse .flex{ flex-flow: column wrap; text-align: right; }
    .collapse a{ line-height: 40px;}
    .wrap-5 .btn{ margin-right: 6px}
    .col-t-auto{ flex-basis: 33.33%; max-width: 50%; }
    

}
@media screen and (max-width:460px){
    .col-p-1{ flex-basis:8.33%; max-width: 8.33%;}
    .col-p-2{ flex-basis:16.66%; max-width: 16.66%;}
    .col-p-3{ flex-basis:25%; max-width: 25%;}
    .col-p-4{ flex-basis:33.33%; max-width: 33.33%;}
    .col-p-5{ flex-basis:41.66%; max-width: 41.66%;}
    .col-p-6{ flex-basis:50%; max-width: 50%;}
    .col-p-7{ flex-basis:58.33%; max-width: 58.33%;}
    .col-p-8{ flex-basis:66.66%; max-width: 66.66%;}
    .col-p-9{ flex-basis:75%; max-width: 75%;}
    .col-p-10{ flex-basis:83.33%; max-width: 83.33%;}
    .col-p-11{ flex-basis:91.66%; max-width: 91.66%;}
    .col-p-12{ flex-basis:100%; max-width: 100%;}
    .banner .flex{flex-flow: column wrap;}
    .banner button{ margin-bottom: 2rem;}
    .wrap-8 p{ font-size: 60px;}
    .wrap-10 input{width: 245px; font-size: 24px;}
    .col-t-auto{flex-basis: 50%; max-width: 100%;}

    .wrap-5{padding: 100px 10px;}
}
@media screen and (max-width:359px){
    .wrap-10 input{width: 200px; font-size: 18px;}
    .wrap-10 .btn{width: 75px; height: 30px; font-size: 12px;}
}
